# HDB Dataset Analysis

## Summary 

asdasd
The dataset are obtained from data.gov.sg for HDB dataset.

In [1]:
import data_processor
import numpy

## Data Preparation

### Data Extraction from CSV files

The method from the Extract module have steps that retrieve the data from CSV files in csv-files folder.

The data type and column name in the numpy array are defined within during the data extraction upon the creation of the numpy array.

In [2]:
active_cases_of_renting_out_of_flat_dataset: numpy.ndarray = data_processor.extract.retrieve_data_for_active_cases_of_renting_out_of_flat()
demand_for_rental_and_sold_flats_dataset: numpy.ndarray = data_processor.extract.retrieve_data_for_demand_for_rental_and_sold_flats()
median_rent_by_town_and_flat_type_dataset: numpy.ndarray = data_processor.extract.retrieve_data_for_median_rent_by_town_and_flat_type()
median_resale_prices_for_registered_applications_by_town_and_flat_type_dataset: numpy.ndarray = data_processor.extract.retrieve_data_for_median_resale_prices_for_registered_applications_by_town_and_flat_type()
number_of_sold_and_rented_hdb_residential_units_dataset: numpy.ndarray = data_processor.extract.retrieve_data_for_number_of_sold_and_rented_hdb_residential_units()
price_range_of_hdb_flats_offered_dataset: numpy.ndarray = data_processor.extract.retrieve_data_for_price_range_of_hdb_flats_offered()
renting_ouf_of_flat_approvals_by_flat_type_quarterly_dataset: numpy.ndarray = data_processor.extract.retrieve_data_for_renting_out_of_flat_approvals_by_flat_type_quarterly()

### Data Transformation

In [3]:
active_cases_of_renting_out_of_flat_dataset_transformed: numpy.ndarray = data_processor.transform.transform_active_cases_of_renting_out_of_flat_dataset(active_cases_of_renting_out_of_flat_dataset)
median_rent_by_town_and_flat_type_dataset_transformed: numpy.ndarray = data_processor.transform.transform_median_rent_by_town_and_flat_type_dataset(median_rent_by_town_and_flat_type_dataset)
median_resale_prices_for_registered_applications_by_town_and_flat_type_dataset_transformed: numpy.ndarray = data_processor.transform.transform_median_resale_prices_for_registered_applications_by_town_and_flat_type_dataset(median_resale_prices_for_registered_applications_by_town_and_flat_type_dataset)
number_of_sold_and_rented_hdb_residential_units_dataset_transformed: numpy.ndarray = data_processor.transform.transform_number_of_sold_and_rented_hdb_residential_units_dataset(number_of_sold_and_rented_hdb_residential_units_dataset)
price_range_of_hdb_flats_offered_dataset_transformed: numpy.ndarray = data_processor.transform.transform_price_range_of_hdb_flats_offered_dataset(price_range_of_hdb_flats_offered_dataset)
renting_ouf_of_flat_approvals_by_flat_type_quarterly_dataset_transformed: numpy.ndarray = data_processor.transform.transform_renting_out_of_flat_approvals_by_flat_type_quarterly_dataset(renting_ouf_of_flat_approvals_by_flat_type_quarterly_dataset)
demand_for_rental_and_sold_flats_dataset_transformed: numpy.ndarray = data_processor.transform.transform_demand_for_rental_and_sold_flats_dataset(demand_for_rental_and_sold_flats_dataset)

True
True
True
True
True
int32
True

## Data Profiling

### Dataset Analysis for Active cases of renting out of flat

In [4]:
data_processor.describe.perform_dataset_analysis("Active cases of renting out of flat", active_cases_of_renting_out_of_flat_dataset_transformed)

***Active cases of renting out of flat***

There are 17 rows and 2 columns in this dataset

The names of the columns are:
- financial_year <class 'int'> isnumeric: True
- no_active_cases <class 'int'> isnumeric: True

There are 17 unique values in financial_year column
There are 17 unique values in no_active_cases column

### Basic 5 figure summary for the dataset of Active cases of renting out of flat

In [5]:
data_processor.describe.perform_statistical_analysis("Active cases of renting out of flat", active_cases_of_renting_out_of_flat_dataset_transformed, ['financial_year'])

***Five number summary for Active cases of renting out of flat dataset**
Column: no_active_cases

Minimum value: 13210
Q1: 41162
Median: 51052
Q3: 58171
Maximum value: 60573

Dataset Analysis for Demand for rental and sold flats

In [6]:
data_processor.describe.perform_dataset_analysis("Demand for rental and sold flats", demand_for_rental_and_sold_flats_dataset_transformed)

***Demand for rental and sold flats***

There are 26 rows and 4 columns in this dataset

The names of the columns are:
- start_year <class 'int'> isnumeric: True
- end_year <class 'int'> isnumeric: True
- flat_type <class 'str'> isnumeric: True
- demand_for_flats <class 'int'> isnumeric: True

There are 13 unique values in start_year column
There are 13 unique values in end_year column
There are 2 unique values in flat_type column
There are 26 unique values in demand_for_flats column

### Five number summary for Demand for rental and sold flats dataset

In [4]:
print(type('asd'))

<class 'str'>

### Dataset Analysis for Median Rent by town and flat type dataset

In [7]:
data_processor.describe.perform_dataset_analysis("Median Rent by Town and Flat Type", median_rent_by_town_and_flat_type_dataset_transformed)

***Median Rent by Town and Flat Type***

There are 11277 rows and 4 columns in this dataset

The names of the columns are:
- quarter <class 'str'> isnumeric: True
- town <class 'str'> isnumeric: True
- flat_type <class 'str'> isnumeric: True
- median_rent <class 'str'> isnumeric: True

There are 71 unique values in quarter column
There are 28 unique values in town column
There are 6 unique values in flat_type column
There are 211 unique values in median_rent column

Data Analysis

In [3]:
print(data_processor.file_path)

/workspaces/IPDS-CA1-Jupyter/HDB-Dataset-Analysis/data_processor

In [5]:
active_cases_of_renting_out_of_flat_dataset = data_processor.transform.transform_active_cases_of_renting_out_of_flat_dataset(active_cases_of_renting_out_of_flat_dataset)

True

In [6]:
print(active_cases_of_renting_out_of_flat_dataset)

[(2006, 13210) (2007, 18735) (2008, 22754) (2009, 27256) (2010, 36440)
 (2011, 41162) (2012, 44274) (2013, 46637) (2014, 48338) (2015, 51052)
 (2016, 53360) (2017, 54329) (2018, 57764) (2019, 60573) (2020, 58171)
 (2021, 56340) (2022, 56652)]